# Bytecode
*.class

# Compiled files
*.war
*.ear
*.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# Maven
target/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caché de archivos compilados
*.mo
*.pot

# Directorio de archivos de registros
log/

# Directorio de archivos de entorno
.env

# Directorio de archivos de salida de pruebas
test_output/

# Dependencias y directorios generados
venv/
