# Python Bytecode, Compiled files, and Virtual Environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc

# Caché de archivos compilados
*.mo
*.pot

# Directorio de archivos de registros
log/

# Directorio de archivos de entorno
.env

# Directorio de archivos de salida de pruebas
test_output/

# Dependencias y directorios generados
venv/
target/

# Java Bytecode, Compiled files, and IDE
*.class
*.war
*.ear
*.jar
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

